body {
	height: 100vh;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	height: calc(100% - 48px);
	height: -o-calc(100% - 48px); /* opera */
	height: -webkit-calc(100% - 48px); /* google, safari */
	height: -moz-calc(100% - 48px); /* firefox */
	padding: 24px;
}

nav {
	font-family: 'Inconsolata', monospace;
	font-size: 24px;
	margin: 20px 0px 20px 47px;
	color: #333333;
}

footer {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 17.07px;
	font-weight: 500;
	color: #bdbdbd;
	text-align: center;
	margin-top: auto;
	margin-bottom: 10px;
}

.content {
	display: flex;
	margin: 5% 0;
}

.image {
	flex: 1 1 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image > img {
	width: 70%;
	margin: auto;
}

.text {
	flex: 1 1 50%;
	text-align: left;
	font-family: 'Space Mono', monospace;
}

.heading {
	font-size: 64px;
	font-weight: 700;
	line-height: 95px;
	color: #333333;
	width: 90%;
}

.paragraph {
	font-size: 24px;
	font-weight: 400;
	line-height: 35px;
	margin: 30px 0 40px;
	width: 65%;
	color: #333333;
}

.cta-btn {
	font-family: 'Space Mono', monospace;
	width: 216px;
	height: 55px;
	background-color: #333333;
	color: #fff;
	border: none;
	font-size: 14px;
	font-weight: 700;
	transition: all 200ms ease-in-out;
}

.cta-btn:hover {
	background-color: #fff;
	color: #333;
	border: 2.5px solid #333333;
}

@media only screen and (max-width: 992px) {
	.heading {
		font-size: 50px;
		line-height: 70px;
	}

	.paragraph {
		font-size: 18px;
		line-height: 30px;
	}
}

@media only screen and (max-width: 768px) {
	.content {
		flex-direction: column;
	}

	.image > img {
		width: 80%;
		margin-top: 20%;
	}

	.text {
		margin-top: 8%;
	}

	.heading {
		font-size: 40px;
		line-height: 50px;
	}

	.paragraph {
		font-size: 14px;
		line-height: 20px;
	}

	.cta-btn {
		font-family: 'Space Mono', monospace;
		width: 180px;
		height: 45px;
	}

	nav {
		margin: 0;
	}
}
